<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Archives — {{ siteName }}</title>
  <link href="./style.css" rel="stylesheet" />
  <link href="./images/favicon.png" rel="icon" />
</head>

<body>
  <div>
    <h3 id="logo">
      <a href="/">
        &larr; {{ siteName }}
      </a>
    </h3>
    <header>
      <h1>Archive</h1>
    </header>
    <article id="archive_container">
      {% for group in postsByYear %}
      <section>
        <h3>{{ group.year }}</h3>
        <ul>
          {% for post in group.posts %}
          <li><a href="/{{ post.slug }}">{{ post.title }}</a> &mdash; <span class="date">{{ post.date }}</span></li>
          {% endfor %}
        </ul>
      </section>
      {% endfor %}
    </article>
    <footer>
      <a href="/">&larr; blog</a>
      <span>&bull;</span>
      <a href="/feed.xml">rss feed</a>
    </footer>
  </div>
</body>

</html>