@import url("https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght,SOFT@0,9..144,100..900,50;1,9..144,100..900,50&display=swap");

@import "tailwindcss";

html {
  @apply text-[16px] md:text-[20px];
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-semibold;
}

body {
  font-family: "Fraunces", "Atkinson Hyperlegible", system-ui, -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
    "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 300;
  @apply bg-slate-50 text-slate-800 p-5 md:p-10 max-w-[700px] leading-relaxed dark:bg-slate-700 dark:text-slate-200;
}

a {
  @apply text-lime-600 hover:text-lime-900 dark:hover:text-lime-700 transition;
}

article:not(#archive_container) a {
  /* @apply border-b-lime-600 hover:border-b-lime-900 dark:border-b-lime-700; */
  @apply border-b border-dotted border-b-lime-500 hover:border-b-lime-900 dark:border-b-lime-700;
}

ul {
  @apply space-y-2 sm:space-y-1;
}

h1 {
  @apply font-semibold tracking-tight text-3xl;
}

#logo,
#logo a {
  @apply text-slate-400;
  font-family: "Fraunces", serif;
}

#home-page-logo a {
  @apply block font-semibold tracking-tight text-3xl;
  font-family: "Fraunces", serif;
}

article {
  @apply space-y-6;
}

#date {
  @apply text-sm text-slate-500;
}

header {
  @apply mt-3 mb-4 pb-4 border-b dark:border-b-slate-600;
}

footer {
  @apply text-sm sm:text-base pt-4 mt-4 mb-10 border-t flex gap-x-3 dark:border-t-slate-600;
}

section h3 {
  @apply font-semibold mb-1 uppercase text-xs text-slate-400;
  font-family: "Fraunces", serif;
}

.date {
  @apply text-slate-400 text-xs;
  font-family: "Fraunces", serif;
}

/* code, pre {
  font-family: monospace;
  @apply text-xs;
} */

code,
li code {
  @apply font-mono text-xs px-1 py-1 bg-slate-200 dark:bg-slate-800 leading-5 rounded;
}

.hljs {
  @apply rounded border border-slate-200 bg-slate-100 dark:border-slate-900 dark:bg-slate-800 dark:text-slate-400;
}

ol {
  @apply list-decimal;
}

article:not(#archive_container) ul {
  @apply list-disc ml-4;
}

/* disable list-disc for home page list */
section ul {
  @apply list-none;
}

/* disabled list-disc for archive page list */
article#archive_container ul {
  @apply list-none;
}
article#archive_container ul li {
  @apply whitespace-nowrap overflow-x-visible;
}

blockquote {
  @apply border-l-4 border-slate-200 dark:border-slate-600 pl-4 space-y-4 text-slate-500 text-sm dark:text-slate-400 leading-relaxed;
}

hr {
  @apply border-slate-200 dark:border-slate-600;
}

.footnote {
  @apply text-xs;
}